.container {
    margin-top: 10vh;
    width: 100%;
    max-width: 100%;
    background-color: rgba(255, 235, 205, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vw;
}

h1 {
    padding: 4vw 0 2vw 0;
}

.listArticles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1vw;
    width: 100%;
    max-width: 70vw;
    background: #000000da;
    border-radius: 10px;
    padding: 2vw;
    margin: auto;
}

app-article {
    min-width: 200px;
}

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
    padding: 5vw 0 1vw 0;
}

.filter input[type=text]{
    height: 1.5vw;
    width: 4vw;
    border-radius: 3px;
    border: #000 0.1px solid;
    font-size: 20px;
}

.filter input[type=radio]{
    height: 1vw;
    width: 1vw;
    margin: 0 0.2vw;
    border: #000 0.1px solid;
}

.filter button[type=reset]{
    background-color: rgba(255, 228, 196, 0);
    color: red;
    border-color: red;
}

.filter button[type=reset]:hover{
    background-color: red;
    color: #fff;
    border-color: black;
}

.filter p{
    font-size: 20px;
    font-size: 20px;
    font-family: monospace;
}

.filter select{
    height: 1.5vw;
    width: 5vw;
}

.filter button{
    height: 1.5vw;
    width: 4vw;
    border-radius: 5px;
    background-color: bisque;
    border-color: black;
    border: #000 0.1px solid;
}

.filter button:hover{
    cursor: pointer;
    background-color: rgba(255, 228, 196, 0);
    color: #0f0;
    border-color: #0f0;
}

.filter button:active{
    background-color: #0f0;
    color: #fff;
}
.filter button[type=reset]:active{
    background-color: rgba(255, 228, 196, 0);
    color: #f00;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}