
<app-nav-bar></app-nav-bar>
<div class="container">
    <h1>Create post</h1>
    <form action="" method="post">
            <div class="upperrow">
                Title :
                <input type="text">
            </div>
            <div class="mid">
                <div>
                    Price:
                    <input type="text">
                </div>
            
                <select>
                    <option value="0">All Categories :</option>
                    <ng-container *ngFor="let category of categories">
                        <optgroup [label]="category.type">
                        <option *ngFor="let item of category.items">{{ item }}</option>
                        </optgroup>
                    </ng-container>
                </select>
            </div>
        
            <div class="checkbox">
                <b>Gender:</b>
                <input type="radio" name="a" id="man">man
                <input type="radio" name="a" id="woman">woman
            </div>
            <div class="ptextarea">
                <p>Descrition:</p>
                <textarea ></textarea>
            </div>
            <div class="photo">
                Photos:
                <input type="file" name="" id="">
            </div>
            <div class="btn">
                <button type="submit">Post</button>
                <button type="reset">Reset</button>
            </div>
    </form>
</div>
