<app-nav-bar></app-nav-bar>
<div class="container">
    <h1>Contact Us!</h1>
    <form action="" method="post">
            <p>
                <label for="">FullName :</label>
                <input type="text">
            </p>
            <p>
                <label for="">PhoneNumber :</label>
                <input type="text">
            </p>
            <p>
                <label for="">Email (optional) :</label>
                <input type="text">
            </p>
            <p class="ptextarea">
                <label for="">Message :</label>
                <textarea ></textarea>
            </p>
            <button type="submit">Send</button>
    </form>
    <p></p>
</div>
