.north{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    width: 17vw;
    background-color: white;
    padding: 2vh 1vh;
    border: 1px solid black;
    border-radius: 20px;   
}



h1 {
    padding: 4vw 0 2vw 0;
}

.filter{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    column-gap: 1vw;
    padding: 0.5vw 0;
}

.minmax{
    display: flex;
    justify-content: space-between;
}

.minmax input{
    display: flex;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.filter input[type=text]{
    height: 2vw;
    width: 7vw;
    border-radius: 3px;
    border: #000 0.1px solid;
    font-size: 20px;
    padding: 0 0.3vw;
}

select, option{
    width: 100%;
    padding: 1vh;
    text-align: center;
    color: white;
    background-color: rgb(78, 77, 77);
    border: 0.5px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.filter input[type=radio]{
    height: 1vw;
    width: 1vw;
    margin: 0 0.2vw;
    border: #000 0.1px solid;
}

.filter button[type=reset]{
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.filter button[type=reset]:hover{
    background-color: rgb(199, 5, 5);
    color: #fff;
    border-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.filter p{
    font-size: 20px;
    font-size: 20px;
    font-family: monospace;
}


.filter button:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}

.filter button:active{
    background-color: white;
    color: black;
    border-color: black;
    border-radius: 5px;
}


.filter button[type=reset]:active{
    background-color: rgba(255, 228, 196, 0);
    color: #f00;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 3vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.filterBtn{
    padding: 1.5vh 0;
    width: 75%;
    border-radius: 5px;
    background-color: white;
    border-color: black;
    border: #000 0.1px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.resetBtn{
    width: 20%;
    border-radius: 5px;
    background-color: white;
    border-color: black;
    border: #000 0.1px solid;
}

.searchbar{
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.searchbar input{
    height: 100%;
    width: 83%;
    border-radius: 20px;
    border: 0.2px solid black;
    padding: 0 1vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.searchbar input::placeholder{
    font-size: 16px;
}

.searchbar input:focus{
    border: 0.2px solid black;
    outline: 0;
}

.searchbar button{
    height: 5vh;
    width: 5vh;;
    border-radius: 50%;
    border: 0.2px solid black;
    background-image: url(../../assets/images/search_icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.searchbar input{
    font-family: Georgia, 'Times New Roman', Times, serif;
}